<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="https://www.googleapis.com/urlshortener/v1"
     binding="webHttpBinding"
     bindingConfiguration="webBinding"
     behaviorConfiguration="urlShortener"
     contract="GoogleAPI.UrlShortener.IUrlShortenerService"
     name="UrlShortenerREST" />
    </client>

    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="urlShortener">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>