<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="LogFolder" value="${basedir}/logs" />
  <variable name="ProcessNameNoExt" value="${replace:searchFor=.vshost:replaceWith=:inner=${processname}}" />

  <variable name="PrioChar" value="${event-context:item=PrioChar}" />
  <variable name="PidTid" value="${event-context:item=PidTid}" />
  <variable name="Source" value="${event-context:item=Source}" />
  <variable name="Suffix" value="${event-context:item=Suffix}" />
  <variable name="LoggerName" value="${logger:shortName=true}${Suffix}" />
  <variable name="DefaultLayout" value="${longdate} ${PrioChar} ${PidTid} [${LoggerName}] ${Source} ${message}" />
  
  <targets>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!-- Collect all messages in one file, archive it each 1Mb, keep max 100 last archived logs -->
    <!-- active logFile = processName + ".log"  -->
    <!-- most recently archived has ".001.log" sufix, then ".002.log" etc  -->
    <target xsi:type="File"
      name="AllInOneFile_archive_1MB_x100"
      layout="${DefaultLayout}"
      encoding = "UTF-8"
      fileName="${LogFolder}/${ProcessNameNoExt}.log"
      archiveFileName="${LogFolder}/${ProcessNameNoExt}.{###}.log"
      archiveAboveSize="1048576"
      archiveNumbering="Rolling"
      concurrentWrites="false"
    />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" minlevel="Trace" writeTo="AllInOneFile_archive_1MB_x100" />
  </rules>
</nlog>